@use "sass:math";
@use "sass:string";
@use "./functions";

@mixin fullSizeAbsolute() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin outline($borderColor) {
  border: 1px solid $borderColor;
}

@mixin getThemeColors($colors) {
  @each $color, $value in $colors {
    @if (string.index($color, "filter") != null) {
      --#{$color}: #{$value};
    } @else {
      --#{$color}: #{$value};
      --RGB_#{$color}: #{functions.hexToRGB($value)};
    }
  }
}

@mixin loader() {
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--action-primary);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin circle($size, $direction: false) {
  content: "";
  position: absolute;
  @if $direction {
    width: math.div($size, 2);
  } @else {
    width: $size;
  }
  height: $size;
  @if $direction == "left" {
    border-radius: $size 0 0 $size;
  } @else if $direction == "right" {
    border-radius: 0 $size $size 0;
  } @else {
    border-radius: 50%;
  }
  border: 3px solid var(--background);
  @if $direction == "left" {
    border-right: 0;
  } @else if $direction == "right" {
    border-left: 0;
  }
  box-sizing: border-box;
}

$size__site_content_width: 1023px;
/* Media Queries */
@function translate-media-condition($c) {
  $condMap: (
    "smallerThanTablet": "(max-width: #{ $size__site_content_width })",
    "desktop": "(min-width: #{ $size__site_content_width + 1 })",
  );
  @return map-get($condMap, $c);
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ($query != "") {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @debug $query;
  @media #{$query} {
    @content;
  }
}
