@use "./mixins";

$grid_gap: 2em;
$grid_rows: 4;
$grid_cols: 3;

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: $grid_gap;
  column-gap: $grid_gap;
  border-radius: 3px;
}

.grid_box {
  width: calc(100% / $grid_cols - $grid_gap);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: none;
    transition: all ease-out 0.5s;
  }

  &:after {
    @include mixins.fullSizeAbsolute();
    content: "";
    background: radial-gradient(
      circle at 33% 33%,
      var(--foreground) 60%,
      rgba(var(--RGB_accent-1), 0.5)
    );
    transition: all ease-out 0.1s;
    border-radius: 50%;
    z-index: 0;
  }

  &:hover::after {
    border: none;
    transform: scale(1.05);
  }
  &:hover::before {
    filter: blur(5px);
    background: radial-gradient(
      circle at 0% 0px,
      #f5efe5,
      rgba(255, 255, 255, 0) 58%
    );
    z-index: 1;
  }
}
