@use "./mixins";
@use "./variables";

:root[color-mode="light"] {
  @include mixins.getThemeColors(variables.$colors-light);
}

* {
  box-sizing: border-box;
}

html,
body,
ul,
p {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: var(--text);
  font-family: "Merriweather", serif;
}

ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font: inherit;
}

button {
  cursor: pointer;
}

#root {
  background: var(--background);
  display: flex;
  flex-direction: column;
}

#modal {
  padding: 0;
  display: flex;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
.space-evenly > * {
  flex: 1 1 0;
}

.text-center {
  text-align: center;
}

.scroller {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
