@use "./mixins";
@use "./variables";

:root[color-mode="light"] {
  @include mixins.getThemeColors(variables.$colors-light);
}

* {
  box-sizing: border-box;
}

html,
body,
ul {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: var(--text);
  font-family: "Merriweather", serif;
}

ul {
  list-style: none;
}

#root {
  background: var(--background);
  display: flex;
  flex-direction: column;
}

#modal {
  padding: 0;
  display: flex;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
.space-evenly > * {
  flex: 1 1 0;
}

.text-center {
  text-align: center;
}

.scroller {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
