@use "../mixins";

.main {
  position: relative;

  .controls-ctn {
    display: flex;
    position: relative;
    border-bottom: 1px solid white;

    > :global(.icon-btn) {
      flex: 1 1 0;
      padding: 1em;
      background-color: var(--foreground);
      svg {
        height: 1.5em !important;
        width: 1.5em !important;
      }
    }
  }

  .list_item {
    display: flex;
  }

  .moves_wrapper {
    padding: 5px 0;
    display: flex;
    column-gap: 10px;
  }

  @include mixins.media(smallerThanTablet) {
    height: 2em;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: var(--foreground);

    .controls-ctn {
      border: none;

      > :global(.icon-btn) {
        padding: 0 0.4em;
      }
    }

    .moves_ctn {
      ol {
        display: flex;
        column-gap: 1em;
        margin-left: 1em;
      }
    }

    .move_no {
      padding-right: 2px;
    }
  }

  @include mixins.media(desktop) {
    .moves_ctn {
      background-color: var(--foreground);
      height: 150px;
      overflow: auto;
    }

    .move_no {
      background-color: var(--background);
      padding: 5px 15px;
      z-index: 2;
      width: 40px;
    }

    .moves_wrapper {
      padding: 5px 0;
      flex: 1 1 auto;

      > * {
        flex: 1 1 auto;
        padding: 0 10px;
      }
    }
  }
}
