@use "../mixins";

$timer-height: 50px;

.main {
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: var(--foreground);
  box-shadow: var(--box-shadow);
  z-index: 3;
}

.main_controls {
  @include mixins.flexCenter(row);

  :global(.icon-btn) {
    flex: 1 1 0;
    padding: 1em 1.5em;
    align-self: stretch;
    background-color: var(--foreground);
  }
}

.timer {
  position: absolute;
  left: 0;
  height: 50px;
  width: 50%;
  overflow: hidden;
  font-family: "Noto Sans", serif;
  font-size: 2em;
  background-color: var(--foreground);
  border-radius: 5px;
  text-align: center;

  &:global(.active) {
    background-color: hsl(86, 70%, 88%);
  }

  :global(.millisecond) {
    font-size: 70%;
  }
}
.top {
  top: -$timer-height;
}
.bottom {
  bottom: -$timer-height;
}

.game_over_display {
  position: absolute;
  background-color: var(--foreground);
  border-top: 1px solid white;
  z-index: 5;
  bottom: 0;
  height: 120px;
  width: 100%;
  @include mixins.flexCenter(column);

  :global(.status_display) {
    padding: 0 2em;
    line-height: 1.2em;
    @include mixins.flexCenter(column);

    p {
      line-height: 1.5em;
      text-align: center;
    }
  }
  :global(.close-btn) {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  p:first-of-type {
    margin-bottom: 10px;
  }
}

.btn_ctn {
  display: flex;
}
