@use "../mixins";
@use "sass:math";

$colorBoxSize: 2.5em;
$timeControlSpacing: 1.4em;
$sectionSpacing: 1.9em;

.main {
  header {
    margin-bottom: $sectionSpacing;
  }

  :global(.input_wrapper_with_units) {
    display: flex;
    margin-bottom: $timeControlSpacing;

    + :global(.input_wrapper_with_units) {
      margin-bottom: $sectionSpacing;
    }

    $labelBottomMargin: 1em;
    :global(.form-group) {
      flex-basis: 50%;

      :global(.input-wrapper) {
        display: flex;
        flex-direction: column;
      }

      label {
        margin-bottom: $labelBottomMargin;
      }

      input {
        width: 4em;
      }
    }

    :global(.select-wrapper) {
      margin-top: $labelBottomMargin;
      align-self: end;
      font-family: "Noto Sans", serif;
    }
  }

  :global(#color) {
    margin-bottom: $sectionSpacing;

    :global(.label) {
      text-align: center;
      margin-bottom: 20px;
    }

    :global(.radio-ctn) {
      column-gap: 20px;
      @include mixins.flexCenter(row);
    }

    :global(.radio-wrapper input) {
      width: $colorBoxSize;
      height: $colorBoxSize;

      &:after {
        @include mixins.circle($colorBoxSize);
      }

      &:checked:after {
        border-color: var(--main-accent);
      }

      &:global(#color1) {
        &:before {
          @include mixins.circle($colorBoxSize, "left");
        }
        &:after {
          @include mixins.circle($colorBoxSize, "right");
          left: math.div($colorBoxSize, 2);
        }

        &:checked:after,
        &:checked:before {
          border-color: var(--main-accent);
        }
      }

      &:global(#color0):after {
        background-color: black;
      }
      &:global(#color1):before {
        background-color: white;
      }
      &:global(#color1):after {
        background-color: black;
      }
      &:global(#color2):after {
        background-color: white;
      }
    }
  }

  :global(.radio-wrapper input) {
    position: relative;
    appearance: none;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  :global(.btn-ctn) {
    display: flex;
    column-gap: 1em;
  }
}
