@use "../mixins";

$grid_gap: 2em;
$grid_rows: 4;
$grid_cols: 3;

.game_grid_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: $grid_gap;
  column-gap: $grid_gap;
  border-radius: 3px;
}

.grid_box {
  width: calc(100% / $grid_cols - $grid_gap);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  box-shadow: 1.3px 1.3px 2.2px rgba(0, 0, 0, 0.007),
    3.1px 3.1px 5.3px rgba(0, 0, 0, 0.015),
    5.8px 5.8px 10px rgba(0, 0, 0, 0.024),
    10.3px 10.3px 17.9px rgba(0, 0, 0, 0.034),
    19.2px 19.2px 33.4px rgba(0, 0, 0, 0.046),
    46px 46px 80px rgba(0, 0, 0, 0.07);

  &:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: none;
    transition: all ease-out 0.5s;
  }

  &:after {
    @include mixins.fullSizeAbsolute();
    content: "";
    background: radial-gradient(
      circle at 33% 33%,
      var(--foreground) 60%,
      rgba(var(--RGB_accent-1), 0.5)
    );
    transition: all ease-out 0.1s;
    border-radius: 50%;
    z-index: 0;
  }

  &:hover::after {
    border: none;
    transform: scale(1.05);
  }
  &:hover::before {
    filter: blur(5px);
    background: radial-gradient(
      circle at 0% 0px,
      #f5efe5,
      rgba(245, 239, 229, 0) 58%
    );
    z-index: 1;
  }
}
