.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.tabbed-content {
  display: grid;
  row-gap: 2em;
  width: clamp(300px, 50%, 500px);
  margin-bottom: 4em;
}

.content {
  position: relative;

  :global(.inactive) {
    opacity: 0;
  }
}

.tabs {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 3em;
  }
}

.tab_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.play_engine_tab_content {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-top: 2em;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background: rgba(var(--RGB_background), 0.7);
  line-height: 2em;
}
