.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.tabbed-content {
  display: grid;
  row-gap: 2em;
  width: clamp(300px, 50%, 500px);
  margin-bottom: 4em;
}

.content {
  position: relative;
}

.tabs {
  ul {
    list-style: none;
    display: flex;
    column-gap: 3em;
  }
}
